body{
    margin: 0;
    padding: 0;
    font-family:  'Noto Sans TC';
    background-color: black;
    color: white;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #334252;
}
.nav-bar{
    height: 80px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //***************
    @media (max-width:600px){
       flex-wrap: wrap;
    }
    
}
.logo-nav-link{
    flex-grow: 1;
    color: white;
    margin-left: 10px;
    font-style: normal;
    font-weight: 1000;
    cursor: pointer;
    text-decoration: none;    


    //***************
    @media (max-width:1000){
       width: 100%;
    }

    // @media (max-width: 760px){
    //     width: 50%;
    // }
    @media (max-width: 630px){
        width: 50%;
    }
    @media (max-width: 600px){
        width: 50%;
        height: fit-content;
    }
    @media (max-width: 450px){
        width: 100%;
    }

}
.nav-logo{
    scale: 0.5;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    left: -120px;
    @media (max-width: 1200px){
        left: -100px;
    }
    @media (max-width: 1000px){
        width: 100%;
    }
    @media (max-width: 640px){
        left: -80px;
    }
    @media (max-width: 630px){
        left:-70px;
    }
    @media (max-width: 600px){
        width: 100%;
        scale: 0.3;
        top: -40px;
        left: -0%;
    }
    @media (max-width: 520px){
        top: -30px;
    }
    @media (max-width: 430px){
        top:-10px;
    }
}
.nav-right-box{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    width: 50px;   
    margin-right: 10px;
    font-style: normal;
    font-weight: 700;
    @media (max-width: 1200px){
        width: 70%;
    }
    @media (max-width: 1000px){
        width: 60%;
    }
    @media (max-width: 630px){
        width: 80%;
    }
    @media (max-width: 600px){
        justify-content: center;
        position: relative;
        top:-80%;
        width: 100%;
        z-index: 50;
    }
    @media (max-width: 520px){
        top:-70%;
    }
    @media (max-width: 430px){
        top:-40%;
    }
    @media (max-width: 360px){
        top:-20%;
       
    }
}

.explore{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    @media (max-width: 700px){
        font-size: 13px;
    }
    @media (max-width: 600px){
        font-size: 11px;
    }
    @media (max-width: 400px){
        font-size: 8px;
    }
}

.member{
    text-decoration: none;
    color: white;
    @media (max-width: 700px){
        font-size: 13px;
    }
    @media (max-width: 600px){
        font-size: 11px;
    }
    @media (max-width: 400px){
        font-size: 8px;
    }
}
.to-map{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    @media (max-width: 700px){
        font-size: 13px;
    }
    @media (max-width: 600px){
        font-size: 11px;
    }
    @media (max-width: 400px){
        font-size: 8px;
    }
}