body{
    margin: 0;
    padding: 0;
    font-family:  'Noto Sans TC';;
}
.main-hotspot{
    // display: flex;
    width: 1200px;
    margin: 0 auto;
    // flex-wrap: wrap;
    // justify-content: center;    
}
.hotspotName-box{
    width: 800px;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;   
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 100%;
}
.hotspotName{
    font-size: 50px;
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 100%;
}

.bird-title{
    font-size: 20px;
    color: rgb(240, 163, 176);
}
.bird{
    text-decoration: none;
    color: rgb(145, 194, 211);
    cursor: pointer;
}
#map{
    width: 800px;
}