.register-box{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    background: radial-gradient(circle, #b6a739, #0b081f);
    flex-direction: column;
    height: auto;
    transform: width 0.5s ease-in-out;
    transform: translateX(100%);
}
.login-box{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    background: radial-gradient(circle, #b6a739, #0f5397);
    flex-direction: column;
    height: auto;
    transform: width 0.5s ease-in-out;
    transform: translateX(0%);
}
  
.login-box, .register-box {
    transition: transform 0.3s ease-in-out;
}
  .main-reversed .login-box {
    transform: translateX(-100%);
    transform: translate3d(50%, 0px, 0px);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}
  .main-reversed .register-box {
    transform: translateX(0%);
    transform: translate3d(-50%, 0px, 0px);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}
.slide-right {
    transform: translate3d(220%, 0, 0);
}

.slide-left {
    transform: translate3d(-100%, 0, 0);
}
.login-title{
    font-weight: 500;
    margin-top: 5%;
    font-size: 150%;
}
.email{
    margin-top: 50px;
    width: 80%;
}
.name{
    margin-top: 50px;
    width: 80%;
}
.password{
    margin-top: 50px;
    width: 80%;
}
.signin{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    height: 5%;
    border-radius: 10px;
    border: white 2px solid;
    background-color: #3330474c;
    cursor: pointer;
    color: white;
}
.login{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    height: 5%;
    border-radius: 10px;
    border: white 2px solid;
    background-color: #76969f4c;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.switch{
    margin-top: 5%;
    height: 626px;
    width: 20%;
    background-color: rgb(254, 255, 199); 
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.switch:hover{
    background-color:rgb(198, 199, 135);
}

.login-box.hide {
    transform: translateX(100%);
}

.switch-word{
    height: 100%;
    line-height:  626px;
    color: black;
    text-align: center;
    font-weight: 800;
}

.error-message{
    font-weight: 700;
    margin-top: 20px;
    text-shadow: 1px 1px 10px #000000;
    color: #ffffff;
    animation: shake 0.5s 7;
}
@keyframes shake {
    0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-5px, 0);
      }
      100% {
        transform: translate(5px, 0);
      }
}
.success-message{
    font-weight: 700;
    margin-top: 0px;
    text-shadow: 1px 1px 10px #ffffff;
    color: #ffffff;
}

.login-line{
    width: 85%;
}

.google-login{
    width: 50%;
    height: 5%;
    border-radius: 10px;
    border: white 2px solid;
    background: linear-gradient(to right, rgba(7, 107, 107, 0.5), rgba(109, 109, 0, 0.5));
    cursor: pointer;
    color: white;
    margin-top: 5%;

}