body{
    margin: 0;
    padding: 0;
    font-family:  'Noto Sans TC';
}
.main{
    display: flex;
    justify-content: center;
}
.local:hover {
    transform: translate(-3px, -3px);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
// season button
.season-box{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    position: absolute;
    z-index: 2;
    width: 100%;
}
.selected {
    background-color: rgb(250, 205, 24);
}
.season-1{
    // background-color: rgb(253, 219, 178);
    cursor: pointer;
    border-radius: 999em;
    border: solid 2px white;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    font-weight: 900;
    
}
.season-1:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 8px #656360;
}
.season-2{
    cursor: pointer;
    border-radius: 999em;
    height: 50px;
    width: 50px;
    // background-color: rgb(124, 139, 139);
    border: solid 2px white;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    font-weight: 900;
    margin-right: 10px;
}
.season-2:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 8px #656360;
}
.season-3{
    cursor: pointer;
    border-radius: 999em;
    height: 50px;
    width: 50px;
    border: solid 2px white;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    font-weight: 900;
    margin-right: 10px;
}
.season-3:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 8px #656360;
}
.season-4{
    cursor: pointer;
    border-radius: 999em;
    height: 50px;
    width: 50px;
    border: solid 2px white;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    font-weight: 900;
}
.season-4:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 8px #656360;
}
// map 可點擊 本身
#map-TW{
    height: 400px;
    margin-top: 10%;
    margin-left: 30%; // 1200以下用20%
}

// map 背景
.map-box{
    background-color:rgba(255, 255, 255, 0.571);
    position: relative;
}
.triangle {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #000000;
    border-left: 100px solid #000000;
    transform: rotate(90deg);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 0 0; /* 只設定左上角圓角，其他三個角都為直角 */
    transition: all 0.5s ease-in-out;
    
}
.corner-season-bird{
    transform: rotate(225deg) translate(50px, -50px);
    position: absolute;
    
}

.map-box.season-春 {
    background-color: #86A873;
    width: 50%;
}

.map-box.season-夏 {
background-color: #EFA48B;
width: 50%;
}


.map-box.season-秋 {
background-color: #D5BF86;
width: 50%;
}

.map-box.season-冬 {
background-color: #92AD94;
width: 50%;
}

.bird-photo{
    width: 150px;
    height: 100px;
    aspect-ratio: 1;
    object-fit: cover;
}
.more-hotspot{
    text-decoration: none;
    width: 100px;
    background-color: #6c6540;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    font-weight: 900;
}
.more-hotspot:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 1px #feee96;
}
.guide-title{
    text-align: center;
    line-height: 50px;
    height: 50px;
}
.local-info-box{
    margin-left: 20px;
    opacity: 0;
    transition-duration: .3s;
    transition: all 0.5s ease-in-out;
}
.local-info-box.show {
    opacity: 1;
    transform: translateX(0);

}
.info-hr{
    width: 100%;
    border: 0;
    height: 1px;
    // 這是很酷的前後半透明的線，是用於置中文字段落
    // background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-color: black;
}
.p{
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 80%;
}

.bird-box{
    // width: 100px; 夏季台中注意
    margin-right: 8%;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.bird-link{
    text-decoration: none;
}
.season-bird{
    display: flex;
}
.loading{
    width: 100%;
    height: 100%;
}