.main-member{
    flex-wrap: wrap;
    width: 1200px;
    justify-content: center;
    display: flex;
}
.user-photo-container-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.user-box{
    width: 30%;
    position: relative;
    overflow: hidden;    
    @media (max-width: 680px){
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.upload-user-photo{
    position: absolute;
    top:90%;
    right: -50%;

}

.user-name{
    // width: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 120%;
    margin-top: 2%;
    @media (max-width: 680px){
        width: 100%;
    }
}
.user-photo-container{
    border-radius: 999em;
    background-color: rgb(60, 103, 103);
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: 5%;

}
.canvas{
    width: 200px;
    height: 200px;
}

.user-photo{
    // display: block;
    // object-fit: cover;
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    // max-width: 100%;
    // max-height: 100%;
}

.upload-photo{
    display: flex;
    flex-wrap: wrap;
    // width: 200px;
    margin-top: 2%;
    justify-content: center;
    @media (max-width: 680px){
        width: 100%;
    }
}
.choose{
    width: 100%;
    text-align: center;
    cursor: pointer;   
    position: relative;
}
.choose::before{
    content: "";
    position: absolute;
    bottom: -2px; /* 距離文字底部2個像素 */
    left: 0;
    width: 0; /* 初始為0 */
    height: 2px;
    background-color: #f3eebd;
    transition: width 0.2s ease-out; /* 寬度變化的過渡效果 */
}
.choose:hover::before {
    width: 100%; /* 與 hot-spot 鏈接的寬度相等 */
}
.canvas-container{
    display: block;
    object-fit: cover;  
}
.logout-box{
    display: flex;
    justify-content: center;
    // width: 200px;
    @media (max-width: 680px){
        width: 200px;
    }
}
.logout{
    margin-top: 5%;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    cursor: pointer;
    background-color: #80808081;
    color: white;
}
.upload-avatar{
    background-color: #eadb5a;
    color: black;
    border-radius: 10px;
    width: 30%;
    height: 3em;
    cursor: pointer;
}
.upload-avatar:hover{
    background-color:#fb892b;
}

.bird-section{
    background-color: #eadb5a;
    width: 70%;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    @media (max-width: 680px){
        width: 90%;
    }
}
.upload-and-bird{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    @media (max-width: 640px){
        margin-top:0;
    }

}
.image-container{
    width: 250px;
    height: 50%;
    margin-top: 2%;
    margin-right: 2%;
    // overflow: hidden;
    @media (max-width: 450px){
        width: 100%;
        height: 30%;
    }
    @media (max-width: 360px){
        width: 100%;
        margin-left: 2%;
      
    }
}
.get-user-photo{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
}
.bird-data-container{
    background-color: #33333353;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    bottom: -50px;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    
}
// hover 鳥照時資訊滑入
.image-container:hover .bird-data-container {
    opacity: 1;
    bottom: 0;
}
.bird-data-name-container{
    @media (max-width: 800px){
        font-size: 12px;
    }
    @media (max-width: 680px){
        top: -10px;
        overflow: hidden;
    }
    @media (max-width: 450px){
        font-size:8px;
       
    }
}
.bird-data-local-container{
    @media (max-width: 680px){
        top: -20px;
        overflow: hidden;
    }
}
.bird-data{    
    padding: 5%;
    font-weight: 800;
    cursor: pointer;
    text-overflow: hidden;
    @media (max-width: 600px){
        font-size: 8px;
    }
    @media (max-width: 450px) {
        word-break: break-word;
    }
}
.h1{
    text-align: center;
    width: 100%;
    margin-bottom:-10%;
    color: #ffffff;
    text-shadow: 1px 1px 2px #693e1b;
    @media (max-width: 680px){
        margin-bottom:0;
    }
    @media (max-width: 450px){
        font-size: 25px;
    }
}
.upload-bird{
    width: 250px;
    // height: 50%;
    margin-top: 2%;
    // margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    background-color: rgba(104, 104, 104, 0.425);
    cursor: pointer;
    font-size: 500%;    
    border-style: dashed;
    border-width: 2px; /* 虛線的寬度 */
    position: relative; /* 使 .upload-bird 成为定位元素 */
    @media (max-width: 450px){
        line-height: 50%;
        width: 100%;
        height: 30%;

    }
    @media (max-width: 360px){
        width: 100%;
        height: 10%;
    }
}
.upload-bird:hover::before {
    content: "點擊此區上傳鳥類照片(僅限台灣能見鳥種)";
    position: absolute;
    top: -20%; /* 调整上下位置 */
    left: 50%; /* 将伪元素水平居中 */
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap; /* 防止换行 */
    z-index: 9;
    @media (max-width: 600px){
        left:80%;
    }
    @media (max-width: 450px){
        padding: 2px 5px;
        top:-40%;
        left: 90%;
        white-space:wrap;
        font-size: 6px;
    }
    @media (max-width: 390px){
        left: 100%;
    }
}
