.main-member{
    flex-wrap: wrap;
    width: 1200px;
    // justify-content: center;
    // display: flex;
}
.user-box{

    position: relative;
    overflow: hidden;    
}
.upload-user-photo{
    position: absolute;
    top:90%;
    right: -50%;
}

.user-name{
    width: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 120%;
    margin-top: 2%;
}
.user-photo-container{
    border-radius: 999em;
    background-color: aqua;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: 5%;

}
.canvas{
    width: 200px;
    height: 200px;
}

.user-photo{
    // display: block;
    // object-fit: cover;
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    // max-width: 100%;
    // max-height: 100%;
    
}

.upload-photo{
    display: flex;
    flex-wrap: wrap;
    width: 251px;
    margin-top: 2%;
}
.choose{
    width: 200px;
    text-align: center;
    cursor: pointer;    
    
}
.choose:hover{
    text-shadow: 1px 1px 10px #eadb5a;
}
.canvas-container{
    display: block;
    object-fit: cover;  
}
.logout-box{
    display: flex;
    justify-content: center;
    width: 200px;
}
.logout{
    margin-top: 5%;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    cursor: pointer;
    background-color: #80808081;
    color: white;
}

.bird-section{
    background-color: #eadb5a;
}