.main-member{
    // flex-wrap: wrap;
    width: 1200px;
    // justify-content: center;
    display: flex;
}
.user-box{
    width: 30%;
    position: relative;
    overflow: hidden;    
}
.upload-user-photo{
    position: absolute;
    top:90%;
    right: -50%;
}

.user-name{
    width: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 120%;
    margin-top: 2%;
}
.user-photo-container{
    border-radius: 999em;
    background-color: aqua;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: 5%;

}
.canvas{
    width: 200px;
    height: 200px;
}

.user-photo{
    // display: block;
    // object-fit: cover;
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    // max-width: 100%;
    // max-height: 100%;
    
}

.upload-photo{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin-top: 2%;
    justify-content: center;
}
.choose{
    width: 100%;
    text-align: center;
    cursor: pointer;    
    
}
.choose:hover{
    text-shadow: 1px 1px 10px #eadb5a;
}
.canvas-container{
    display: block;
    object-fit: cover;  
}
.logout-box{
    display: flex;
    justify-content: center;
    width: 200px;
}
.logout{
    margin-top: 5%;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    cursor: pointer;
    background-color: #80808081;
    color: white;
}
.upload-avatar{
    background-color: #eadb5a;
    color: black;
    border-radius: 10px;
    width: 30%;
    height: 3em;
    cursor: pointer;
}
.upload-avatar:hover{
    background-color:#fb892b;
}

.bird-section{
    background-color: #eadb5a;
    width: 70%;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.image-container{
    width: 30%;
    height: 50%;
    margin-top: 2%;
    margin-right: 2%;
}
.get-user-photo{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
}
.bird-data-container{
    background-color: #33333353;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    bottom: -50px;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    
}
// hover 鳥照時資訊滑入
.image-container:hover .bird-data-container {
    opacity: 1;
    bottom: 0;
}
.bird-data{    
    padding: 5%;
    font-weight: 800;
    cursor: pointer;
    text-overflow: hidden;
}
.h1{
    text-align: center;
    width: 100%;
    margin-bottom:-10%;
    color: #ffffff;
    text-shadow: 1px 1px 2px #693e1b;
}
.upload-bird{
    width: 30%;
    height: 50%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    background-color: rgba(104, 104, 104, 0.425);
    cursor: pointer;
    font-size: 500%;    
    border-style: dashed;
    border-width: 2px; /* 虛線的寬度 */
    position: relative; /* 使 .upload-bird 成为定位元素 */
}
.upload-bird:hover::before {
    content: "點擊此區上傳鳥類照片(僅限台灣能見鳥種)";
    position: absolute;
    top: -20%; /* 调整上下位置 */
    left: 50%; /* 将伪元素水平居中 */
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap; /* 防止换行 */
    z-index: 9;
}
