body{
    margin: 0;
    padding: 0;
    font-family:  'Noto Sans TC';
}
#map {
    height: 400px;
    width: 100%;
}

.main{
    // width: 1200px;
    display: flex;
    justify-content: center;
}
.bar-box{
    background-color: rgb(147, 147, 146);
}
.bar{
    background-color: rgb(249, 216, 50);
    color: black;
}
.hotspot-link{
    text-decoration: none;
    cursor: pointer;
    color: rgb(125, 255, 166);
}