.white-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    background-color: rgba(40, 40, 40, 0.591);
    z-index: 100;
    display: flex;
    justify-content: center;
}
.upload-box{
    width: 90%;
    height: 80%;
    background-color: rgb(234, 179, 120);
    margin-top: 5%;
    // margin-left: -2%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    position: relative;
}
.bird-photo-box{
    width: 50%;
    height: 80%;
    background-color: rgb(184, 180, 111);
    margin: 2%;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}
input[type='file'] {
    position: absolute;
    top: -25%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    background-color: black;
}
.photo-detail{
    width: 40%;
    height: 80%;
    background-color: rgb(123, 102, 102);
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;
    font-size: 140%;
    box-sizing: border-box;
    
}
.name-detail{
    width: 100%;
    margin-top: 5px;
    height: 10%;    
}
.region-detail{
    width: 100%;
    margin-top: 5px;
    height: 10%; 
}
.local-detail{
    width: 100%;
    margin-top: 5px;
    height: 10%; 
}
.choose-date{
    width: 100%;
    margin-top: 5px;
    height: 10%; 
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.upload{
    width: 40%;
    height: 7%;   
    margin-bottom: 2%;
    background-color: rgb(253, 131, 97);
    border: sandybrown;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    color: white;
}
.upload:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(212, 85, 61);
}
.previous-bird-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}
.scroll-box-upload{
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: "${scroll}";
    max-height: 150px;
    width: 36%;
    top:20%;
    background-color:beige;
}
.bird-search-upload{
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    cursor: pointer;
}
.scroll-box-region{
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: "${scroll}";
    max-height: 150px;
    width: 36%;
    top:35%;
    background-color:beige;
}
.scroll-box-local{
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: "${scroll}";
    max-height: 150px;
    width: 36%;
    top:50%;
    background-color:beige;
}
.warning{
    color: rgb(120, 38, 38);
    font-size: 150%;
    font-weight: 900;
    margin-left: 2%;
    width: 50%;
    text-align: center;
}
.close{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(148, 127, 123); /* 设置背景色为红色 */
    border: 2px solid white;
    color: white;
    font-weight: 900;
    position: absolute;
    right: 2%;
    top:4%;
}
