.white-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    background-color: rgba(40, 40, 40, 0.591);
    z-index: 100;
    display: flex;
    justify-content: center;
}
.upload-box{
    width: 90%;
    height: 80%;
    background-color: rgb(234, 179, 120);
    margin-top: 5%;
    // margin-left: -2%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    position: relative;
    padding-bottom: 50px;

}
.bird-photo-box{
    width: 50%;
    height: 80%;
    background-color: #a1503c;
    margin: 2%;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
    @media (max-width: 600px){
        width: 30%;
        height: 30%;
        margin-left: 35%;
        font-size:12px;
    }
    @media (max-width: 450px){
        font-size: 6px;
        padding-top: 2px;        
    }
    @media (max-width: 420px){
        padding-top: 5px;
        font-size: 90%;
        width: 50%;
        margin-left: 25%;
    }
}
input[type='file'] {
    position: absolute;
    top: -25%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    background-color: black;
}
.photo-detail{
    width: 40%;
    height: 80%;
    background-color: #a1503c;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;
    font-size: 140%;
    box-sizing: border-box;
    padding: 15px 15px;
    border-radius: 10px;
    @media (max-width: 720px){
        font-size:100%;        
    }
    @media (max-width: 600px) {
        width: 100%;
        height: 60%;
    }
  
}
.name-detail{
    width: 100%;
    margin-top: 5px;
    height: 10%;    
}
.region-detail{
    width: 100%;
    margin-top: 5px;
    height: 10%; 
}
.local-detail{
    width: 100%;
    margin-top: 5px;
    height: 10%; 
}
.choose-date{
    width: 100%;
    margin-top: 5px;
    height: 10%; 
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.upload{
    width: 40%;
    height: 7%;   
    margin-bottom: 2%;
    background-color: rgb(253, 131, 97);
    border: sandybrown;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    color: white;
}
.upload:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(212, 85, 61);
}
.previous-bird-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}
.scroll-box-upload{
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: "${scroll}";
    max-height: 150px;
    width: 38.5%;
    top: 20%;
    background-color:beige;
    @media (max-width: 1500px){
        top: 18%;
    }
    @media (max-width: 1300px){
        top:22%;
    }
    @media (max-width: 600px){
        top: 47%;
        width: 90%;
    }
}
.bird-search-upload{
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    cursor: pointer;
}
.scroll-box-region{
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: "${scroll}";
    max-height: 150px;
    width: 38.5%;
    top:36%;
    background-color:beige;
    @media (max-width: 1300px){
        top:40%;
    }
    @media (max-width: 1200px){
        top:38%;
    }
    @media (max-width: 600px){
        top: 59%;
        width: 90%;
    }
}
.scroll-box-local{
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: "${scroll}";
    max-height: 150px;
    width: 38.5%;
    top:55%;
    background-color:beige;
    @media (max-width: 680px){
        top:53%;
    }
    @media (max-width: 600px){
        top: 71%;
        width: 90%;
    }
}
.warning{
    color: rgb(120, 38, 38);
    font-size: 150%;
    font-weight: 900;
    margin-left: 2%;
    width: 50%;
    text-align: center;
    @media (max-width: 450px){
        font-size:100%;
        margin-top: 2%;
    }
}
.close{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(148, 127, 123); /* 设置背景色为红色 */
    border: 2px solid white;
    color: white;
    font-weight: 900;
    position: absolute;
    right: 4%;
    top:7%;
    @media (max-width: 1600px){
        top:5%;
    }
    @media (max-width: 1200px){
        top:3%;
        right: 2%;
    }
    @media (max-width: 1100px){
        top:3.5%;
        right: 1%;
    }
    @media(max-width: 900px){
        top:3%;
    }

    @media (max-width: 750px){
        top:2%;
    }
    @media (max-width: 450px){
        top:1%;
    }
}
